html{
    height: 100%;
}
body{
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title_word{
    position: absolute;z-index: 2;left: 800px;top: 150px;
}
.picture{
    width: 95%;
}
h1{
    color:cadetblue;font-weight: bold;font-size:  60px;font-family:fantasy;
    text-align: center;padding: 10px;
}
h2{
    color: rgba(150, 11, 230, 0.973);font-weight: bold;text-align: left;
    font-family: fantasy;
}
h3{
    color: rgba(5, 5, 5, 0.973);text-align:center;font-size:20px;
}
span{
    color: rgba(0, 0, 0, 0.973);font-weight: bold;text-align: left;
    font-family: DFKai-sb;
}
.li_interest{
    text-align: left;font-size:larger;font-weight: bold;
    font-family: DFKai-sb;line-height: 20px;
}
.li_social{
    text-align: left;font-size:xx-large;font-weight: bold;line-height: 20px;
}
.interest{
    list-style-image: url("heart.gif");
}
.social{
    list-style-image: url("click.gif");padding-left: 5pc;
}
content{
    width: 1000px;margin-left: auto;margin-right: auto;margin-top:auto;
}
box{
    width: 280px;padding: 10px;margin: 10px; background-color: rgba(218, 180, 149, 0.863);
    display: inline-block;vertical-align: top;
    text-align: center;height: auto;line-height: 20px;
}
box_out{
    width: 320px;padding: 10px;margin: 10px;height:auto ;background-color: blanchedalmond;
    border-radius: 25px;display: inline-block;vertical-align: top;
}
title{
    font-weight: bold;
}
@media screen and (max-width:320px){
    .title_word{position: absolute;z-index: 2;left: 80px;top: 120px;}
    content{width: 100%;text-align: center;}
}
@media screen and (max-width:600px){
    .title_word{position: absolute;z-index: 2;left: 100px;top: 120px;}
    content{width: 100%;text-align: center;}
}
@media screen and (max-width:850px){
    .title_word{position: absolute;z-index: 2;left: 300px;top: 100px;
    font-size: 20px;}
    content{width: 100%;text-align: center;}
}
@media screen and (max-width:1150px){
    .title_word{position: absolute;z-index: 2;left: 380px;top: 80px;
    font-size: 80px;}
    content{width: 100%;text-align: center;}
}
@media screen and (max-width:1350px){
    .title_word{position: absolute;z-index: 2;left: 580px;top: 70px;
    font-size: 70px;}
    content{width: 100%;text-align: center;}
}